:root {
  --background-color: black;
  --font-color: white;
}
* {
  font-family: "DejaVu Sans Mono", "Liberation Mono", "Monospace", monospace;
  color: var(--font-color);
  margin: 0;
}

body {
  position: relative;
  background-color: var(--background-color);
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
}

::selection {
  background: var(--font-color);
  color: black;
}

pre {
  line-height: 1.1;
  margin: 20px 0px !important;
  overflow-wrap: break-word;
}

pre,
p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.typer {
  display: flex;
  white-space: pre;
}

.cursor {
  display: inline-block;
  width: 0.6em;
  height: 1.2em;
  margin-left: 2px;
  background-color: var(--font-color);
  animation: blink 1s steps(1) infinite;
  vertical-align: bottom;
  margin: 0 !important;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.error {
  color: red;
  font-weight: bold;
}

.info {
  opacity: 0.6;
}

.warn {
  color: #facc15;
  font-weight: bold;
}

.support {
  color: #dc44f0;
  font-weight: bold;
}

.marginless {
  margin: 0 !important;
}

#aha {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.games {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid white;
  min-width: 250px;
}

.header {
  display: flex;
  border-bottom: 1px solid white;
}

.header * {
  margin: 0;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

.header > :first-child {
  display: flex;
  justify-content: center;
  border-right: 1px solid white;
  width: 25px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.game * {
  margin: 0;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.game:hover {
  background-color: white;
  color: black !important;
}

.game:hover * {
  color: black;
}

.game:hover .id {
  border-right: 1px solid black;
}

.id {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 30px;
  min-width: 30px;
}

.update-log {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 450px;
  background-color: black;
  border: 1px solid white;
}

#tip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#closeMe {
  margin-top: 20px;
  width: 100px;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

#closeMe:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#enoughWithTheWrappersSmh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.einstein-demands {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  z-index: 1000;
  border: 1px solid white;
  background-color: black;
  height: auto;
}

#einstein {
  width: 350px;
  height: auto;
  margin-right: 20px;
}

.info-demands {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.info-demands p {
  overflow-wrap: break-word;
  white-space: normal !important;
}
.info-demands h2 {
  margin-bottom: 10px;
}

.clicking-stuff {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}

#donate-now {
  background-color: black;
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
}

#donate-now:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.donation-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  width: 400px;
}

.progress-bar {
  flex: 1;
  height: 18px;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

#donation-progress {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border: 1px solid white;
  padding: 4px;
}

.geen {
  color: rgb(139, 253, 139);
}

.actual-chat {
  min-height: 300px;
}

.typing-area {
  display: flex;
  align-items: center;
}

.type-in-chat {
  background-color: transparent;
  border: none;
  height: 20px;
}

.type-in-chat:focus {
  border: none;
  outline: none;
}

.chat-msg {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.chat-msg p {
  display: flex;
  gap: 5px;
}

#aha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
}

.forum-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

.forum-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.right-ls {
  display: flex;
  border-bottom: 1px solid white;
  gap: 5px;
}

.views {
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
  font-size: 0.7em;
}

.button-log {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-bottom: 20px;
  margin-right: calc(20px + 20px + 140px);
  padding: 10px;
  cursor: pointer;
}

.button-log:hover {
  background-color: white;
  color: black !important;
  border: 1px solid black;
}

.button-general {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.button-log.button-general:hover * {
  color: black !important;
}

.bypasser {
  margin-right: calc(20px + 20px + 140px + 10px + 130px) !important;
}

.showerfalse {
  color: red;
}

.showertrue {
  color: rgb(28, 216, 28);
  font-weight: bold;
}

.spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-right: calc(190px + 110px + 10px + 110px + 10px) !important;
}

.spotify img {
  width: 38px;
  height: 38px;
}

.offline-btn {
  margin-right: calc(320px + 110px + 10px) !important;
}
